<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Video Tutorials</a>

        <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>

            {{#if hasUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Welcome, {{user.username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/create">Create</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profile">My Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            {{/if}}

        </ul>
    </nav>


   {{#if errors}}
    <section class="notifications">
        {{#each errors}}
        <p class="notification-message">{{msg}}</p>
        {{/each}}
    </section>
   {{/if}}

    <main>
        {{{body}}}

    </main>

    <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">© 2021
            <p>Js Back End</p>
        </div>
    </footer>

</div>
</body>

</html>